.main-button {
  color: $my_gray;
  border: 2px solid $my_gray;
  //background-color: $my_gray;
  border-radius: 20px;
  padding: 10px;
  &:hover {
    text-decoration: none;
    color: $my_yellow;
    background-color: $my_gray;
  }
}

.devise-new a {
  color: $my_gray;
  text-decoration: none !important;
  &:hover {
    color: $my_black;
  }
}
