.main-button {
  text-decoration: none;
  color: $my_gray;
  border: 2px solid $my_gray;
  //background-color: $my_gray;
  border-radius: 20px;
  padding: 10px;
  &:hover {
    text-decoration: none;
    color: $my_yellow;
    background-color: $my_gray;
  }
}
