.navbar-resto {
  justify-content: space-between;
  background: $my_gray;
  height: 10vh;
  width: 90vw;
  margin-left: 5vw;
  border-radius: 0px 0px 10px 10px;

}

.navbar-resto .navbar-collapse {
  flex-grow: 0;
}

.navbar-resto .navbar-brand img {
  //width: 40px;
}

.navbar-brand {
  color: $my_yellow !important;
}

.nav-link {
  color: $my_yellow !important;
  &:hover {
    font-weight: bold;
    border-bottom: 2px solid $my_yellow;
  }
}
