.navbar-resto {
  justify-content: space-between;
  background: #353238;
}

.navbar-resto .navbar-collapse {
  flex-grow: 0;
}

.navbar-resto .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #C1B4AE;
}
